---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const certificados = await getCollection("team", ({ data }) => {
  return !data.draft;
});

---


<Layout title="certificados">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Mis certificados:</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-6xl mt-12"
    >
    {
      certificados.map((certificado) => (
        <a
         href={`/certificados/${certificado.data.id}`}
        >
        <div class="group">
            <div class="max-w-full aspect-square">
              <Picture
                src={certificado.data.avatar.src}
                alt={certificado.data.avatar.alt}
                sizes="(max-width: 1000px) 100vw, 400px"
                widths={[200, 1400]}
                aspectRatio="4:4"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-md group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">
                {certificado.data.name}
              </h2>
              <h3 class="text-sm text-slate-500">
                {certificado.data.title}
              </h3>
            </div>
          </div>
          </a>
        ))
      }
    </div>
  </Container>
</Layout>
